.app {
  display: flex;
  height: 100vh;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: #fff;
}
.main {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.team {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  background: teal;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}
.answer:hover,
.answer.active {
  background-color: mediumblue;
}
.answer.correct {
  animation: correct 3s ease forwards;
}
.answer.wrong {
  animation: wrong 3s ease forwards;
}
@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: mediumblue;
  }

  62%,
  100% {
    background: green;
  }
}
@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: mediumblue;
  }

  62%,
  100% {
    background: crimson;
  }
}
.question {
  width: 80%;
  background: teal;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 18px;
  text-align: center;
}
.bottom {
  height: 50%;
}
.pyramid {
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 5px solid teal;
}
.moneylist {
  list-style: none;
  width: 100%;
  padding: 20px;
}
.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.moneyListItem.active {
  /* background-color: teal; */
  background: teal;
  border: 2px solid #fff;
}
.moneyListItenNumber {
  font-size: 18px;
  font-weight: 600;
  width: 30%;
}
.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.amount {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
